@import url("https://fonts.googleapis.com/css2?family=Overpass:wght@300;600&family=Ubuntu:wght@400;500;700&display=swap");

*,
*:before,
*:after {
  padding: 0;
  margin: 0;
  transition: all 0.3s ease-in-out;
  box-sizing: border-box;
}

:root {
  --cta-text: hsl(356, 100%, 66%);
  --cta-hover-bg: hsl(355, 100%, 74%);
  --heading: hsl(208, 49%, 24%);

  --text: hsl(0, 0%, 100%);
  --body-text: hsl(207, 13%, 34%);
  --footer-bg: hsl(240, 10%, 16%);
  --footer-text: hsl(240, 2%, 79%);

  --nav-item-mob: hsl(355, 100%, 74%);

  --gradient-1: linear-gradient(
    90deg,
    hsl(13, 100%, 72%) 0%,
    hsl(353, 100%, 62%) 100%
  );
  --gradient-2: linear-gradient(
    90deg,
    hsl(237, 18%, 21%) 0%,
    hsl(237, 23%, 32%) 100%
  );

  --box-shadow: 0px 0px 10px rgba(169, 169, 169, 0.69);

  --font-primary: "Overpass", sans-serif;
  --font-secondary: "Ubuntu", sans-serif;
}

body {
  font-family: var(--font-primary);
}
